In [5]:
print("Hello World")

Hello World

In [7]:
print(123)

123

In [8]:
age=58
print("My name is",age)

My name is 58

In [10]:
print(f"My Age is {age}")

My Age is 58

In [13]:
Name="Abhi"
age=18
print("My name is {} and age is {}".format(Name,age))

My name is Abhi and age is 18

In [14]:
print("My name is {a} and age is {b}".format(a=Name,b=age))

My name is Abhi and age is 18

In [25]:
name="Abhinav Paniketty"
age=18
Degree="SEBIOM"

print(f"My name is {name}, age is {age} and am pursuing {Degree}")

My name is Abhinav Paniketty, age is 18 and am pursuing SEBIOM

In [20]:
print("My name is {} age is {} and am pursuing {}".format(name,age,Degree))

My name is Abhinav Paniketty age is 19 and am pursuing SEBIOM

In [28]:
if age>=18:
    print("congo")

congo

In [33]:
age=int(input("Enter your Age:\t"))
if age>=18:
        print("Voter is Eligible")
else:
        print("Voter is Not Eligible")

Enter your Age:	 98

Voter is Eligible

In [38]:
age=int(input("Enter your Age:\t"))
if age>=18 and age<=45:
        print("You are young blood")

Enter your Age:	 20

You are young blood

In [39]:
age=int(input("Enter your Age:\t"))
if age>=18 and age<=45:
        print("You are young blood")
else:
    print("Thankyou, We will let you know..")

Enter your Age:	 56

Thankyou, We will let you know..

In [47]:
price=int(input("Enter price of product:\t"))

if price>1000:
    print("Discount of 50%")
    print("product price is {}".format(price*0.5))
else:
    print("Discount of 10%")
    print("product price is {}".format(price*0.9))

Enter price of product:	 10

Discount of 10%
product price is 9.0

In [59]:
price=int(input("Enter price of product:\t"))

if price>3000:
    print("Discount of 20%")
    print("product price is {}".format(price*0.8))
elif price>2000 and price<=3000:
    if price==2999:
        print("Congo free gift")
        print("Discount of 20%")

    print("product price is {}".format(price*0.7))
elif price>1000:
    print("product price is {}".format(price*0.6))
else:
    print("Stay Single")

Enter price of product:	 2999

Congo free gift
product price is 2099.2999999999997

### While Loop

In [61]:
i=1
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(f"{joining_age}")
else:
    print("")

Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!
Time to retire!

In [63]:
total_amount=1000
while total_amount!=0:
    total_amount=total_amount-100
    print(total_amount)
else:
    print("Paisa khaali Atm mein bhi")

900
800
700
600
500
400
300
200
100
0
Paisa khaali Atm mein bhi

### FOR LOOP

In [64]:
abc=["king",12,25,"Queen"]

In [65]:
type(abc)

list

In [69]:
for x in abc:
    if x==12:
        break
    print(x)

king

In [70]:
fruit="Apple"
for x in fruit:
    print(x)

A
p
p
l
e

In [71]:
fruit[2]

'p'

In [79]:
for x in range(1,26,3):
    print(x)

1
4
7
10
13
16
19
22
25

In [88]:
n= 8
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******
********

In [93]:
fruits=["apple","banana","cherry","grapes"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [94]:
fruits=["apple","banana","cherry","grapes"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry
grapes

In [120]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [125]:
n=20
for i in range(1, 11):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times
    n-=1

                    *
                    * *
                    * * *
                    * * * *
                    * * * * *
                    * * * * * *
                    * * * * * * *
                    * * * * * * * *
                    * * * * * * * * *
                    * * * * * * * * * *